/* .Layout{
  margin-top: 100px;
  padding: 0 20px;
} */

.Layout{
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  /* height: 200px; */
  margin: 20px;
  margin-top: 100px;
  border-radius: 10px;
}
.result{
  border: 1px solid darkgrey;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.result:hover{
  background-color: aliceblue;
}
.Ruler{
   border:none; 
   border-top:1px darkgray solid; 
   height: 1px; 
   margin-top: 10px;
  margin-bottom: 10px;
}
.Noresult{
  font-weight: bold;
}
.Input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  border-style: groove;
}
.Button{
  padding: 12px 40%;
}
::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder { 
  color: black;
}

::placeholder {
  color: black;
}

.error{
  border: 1px solid red;
  background-color: yellow;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}