.Upload{
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  height: 200px;
  margin: 20px;
  margin-top: 100px;
  border-radius: 10px;
}

.file{
  height: 30px;
  width: 40%;
  float: left
}

.button{
  margin: 0 20px;
}

.success{
  transition: height 500ms 0ms, opacity 500ms 500ms;
}

.success{
  background: lightgreen;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
}

